<div id="home_view" class="view">
	<section class="presentation">
		<p>
			Bonjour, je suis Paul Delobbel, programmeur spécialisé dans le développement de jeux vidéo, actuellement à l'école 42
		</p>
	</section>
	<section class="specialities">
		<article>
			<img src="img/specialities/programming.svg">
			<h3>Programmation</h3>
			<div></div>
			<p>
				J'ai acquis beaucoup de connaissances en C, en C++, en C# et en Javascript, à travers différents projets qui m'ont permis de faire face à différentes problématiques tout au long de mes études et de mes projets personnels.
			</p>
		</article>
		<article>
			<img src="img/specialities/software.svg">
			<h3>Applications</h3>
			<div></div>
			<p>
				Une de mes principales priorités à été d'apprendre à développer des jeux vidéo multi-plateforme, grace à divers outils et logiciels, comme Unity, Unreal Engine 4, NodeWebkit, Electron, Cordova, etc...
			</p>
		</article>
		<article>
			<img src="img/specialities/interest.svg">
			<h3>Intéret</h3>
			<div></div>
			<p>
				Mon intéret dans de nombreux différents domaines m'ont mené à rester curieux, ouvert et flexible. Mes connaissances actuelles en conception et programmation me permettent actuellement de développer toutes sortes d'idées, memes complexes.
			</p>
		</article>
	</section>
</div>
