<div id="home_view" class="view">
	<section class="presentation white">
		<h2>Présentation</h2>
		<span class="title_separator"></span>
		<p>
			Yo !<br/>
			Je suis Paul, un jeune développeur passionné par le développement du jeu vidéo et a la recherche d'une opportunité de stage.
		</p>
	</section>

	<section class="skill blue">
		<h2>Compétances</h2>
		<span class="title_separator"></span>
		<div class="skills" ng-init="init();">
			<div>
				<p>C++</p>
				<div class="progress_bar">
					<div id="cpp_progress" class="progress"></div>
				</div>
			</div>
			<div>
				<p>C</p>
				<div class="progress_bar">
					<div id="c_progress" class="progress"></div>
				</div>
			</div>
			<div>
				<p>Javascript</p>
				<div class="progress_bar">
					<div id="js_progress" class="progress"></div>
				</div>
			</div>
			<div>
				<p>Unity</p>
				<div class="progress_bar">
					<div id="unity_progress" class="progress"></div>
				</div>
			</div>
			<div>
				<p>Unreal Engine 4</p>
				<div class="progress_bar">
					<div id="ue4_progress" class="progress"></div>
				</div>
			</div>
			<div>
				<p>SDL 2</p>
				<div class="progress_bar">
					<div id="sdl2_progress" class="progress"></div>
				</div>
			</div>
		</div>
	</section>
</div>