<div id="projects_view" class="view">
	<section class="project">
		<h2>Wireframe 3d</h2>
		<div class="separator"></div>
		<p class="description">
			Wireframe 3d est un programme de placement de points dans l'espace, reliés par des segments de couleurs en fonction de leurs niveaux.<br/>
			C'est ce que l'on appelle le procédé de rastérisation, qui consiste à convertir une image vectorielle en image matricielle.<br/>
			J'ai codé ce programme à l'aide de la minilibX, une lib développée par Olivier Crouzet (actuellement staffe à 42), qui permet d'ouvrir une fenêtre, d'allumer un pixel et d'utiliser un système d'événements liés à la fenêtre, à la souris et au clavier.
		</p>
		<p class="sources">
			Code source: <a href="https://github.com/Kamipown/Wireframe3d" target="_blank">https://github.com/Kamipown/Wireframe3d</a>
		</p>
		<div class="screenshots">
			<img src="img/projects/wireframe3d/wf3d_00.png">
			<img src="img/projects/wireframe3d/wf3d_01.png">
			<img src="img/projects/wireframe3d/wf3d_05.png">
			<img src="img/projects/wireframe3d/wf3d_02.png">
			<img src="img/projects/wireframe3d/wf3d_08.png">
		</div>
	</section>

	<section class="project">
		<h2>Fractal</h2>
		<div class="separator"></div>
		<p class="description">
			Fractal est comme son nom l'indique un programme de dessin de fractales paramétrables.<br/>
			J'ai inclus dans ce projet les fractales Mandelbrot, Julia et Mandelbar.<br/>
			Pour ce projet aussi, j'ai utilisé la minilibX.
		</p>
		<p class="sources">
			Code source: <a href="https://github.com/Kamipown/Fractal" target="_blank">https://github.com/Kamipown/Fractal</a>
		</p>
		<div class="screenshots">
			<img src="#">
			<img src="#">
			<img src="#">
		</div>
	</section>

	<section class="project">
		<h2>Wolf 3d</h2>
		<div class="separator"></div>
		<p class="description">
			Wolf 3d est un remake du procédé de raycasting du célebre jeu Wolfenstein, originellement développé par Muse Software.<br/>
			Dedans sont intégrés un système de déplacements et de collisions, des téléporteurs et une minimap.<br/>
			Comme pour les deux projets du dessus, j'ai codé ce programme à l'aide de la minilibX.
		</p>
		<p class="sources">
			Code source: <a href="https://github.com/Kamipown/Wolf3d" target="_blank">https://github.com/Kamipown/Wolf3d</a>
		</p>
		<div class="screenshots">
			<img src="img/projects/wolf3d/wolf_00.png">
			<img src="img/projects/wolf3d/wolf_01.png">
		</div>
	</section>

	<section class="project">
		<h2>Raytracer</h2>
		<div class="separator"></div>
		<p class="description">
			J'ai travaillé pendant plusieurs mois sur un projet de Raytracer, dans lequel j'ai du implémenter de nombreuses features telles que:<br/>
			- L'intersection de formes primitives<br/>
			- La gestion de lumieres (point, spot et directional)<br/>
			- La gestion de l'ombrage<br/>
			- Des textures (chargees et procedurales)<br/>
			- Des perturbations (bump-mapping, perlin...)<br/>
			- De l'antialliasing (Super Sampling Anti Alliasing x3)<br/>
			- Une interface graphique<br/>
			- Un parser cson<br/>
			- ...<br/>
			Ce projet a été réalisé avec trois amis, programmeurs également.<br/>
		</p>
		<div class="screenshots">
			<img src="img/projects/raytracer/rt_00.png">
			<img src="img/projects/raytracer/rt_01.png">
			<img src="img/projects/raytracer/rt_02.png">
			<img src="img/projects/raytracer/rt_03.png">
			<img src="img/projects/raytracer/rt_04.png">
			<img src="img/projects/raytracer/rt_06.png">
			<img src="img/projects/raytracer/rt_07.png">
			<img src="img/projects/raytracer/rt_08.png">
		</div>
	</section>

	<section class="project">
		<h2>Unity</h2>
		<div class="separator"></div>
		<p class="description">
			J'ai beaucoup travailler sur Unity, (depuis sa version 4.0) majoritairement sur des petits travaux pour apprendre l'éditeur, pour tester des fonctionnalités trouvées dans la documentation etc.<br/>
			J'ai recodé intégralement certains de leurs projets, tels que:<br/>
			- Space Shooter<br/>
			- Survival Shooter<br/>
			- Tank Shooter<br/>
		</p>
		<div class="screenshots">
			<img src="img/projects/unity/space_shooter.jpg">
			<img src="img/projects/unity/survival_shooter.jpg">
			<img src="img/projects/unity/tank_shooter.png">
		</div>
	</section>
</div>
