.tooltip {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	width: 300px;
	height: 300px;
	background-color: rgba(0, 0, 0, 0.3);
}

.appendage.top {
	position: absolute;
	top: -10px;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
	@include triangle("top", rgba(0, 0, 0, 0.3));
}

.appendage.right {
	position: absolute;
	top: 50%;
	right: -10px;
	transform: translate3d(0, -50%, 0);
	@include triangle("right", rgba(0, 0, 0, 0.3));
}

.appendage.bottom {
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
	@include triangle("bottom", rgba(0, 0, 0, 0.3));
}

.appendage.left {
	position: absolute;
	top: 50%;
	left: -10px;
	transform: translate3d(0, -50%, 0);
	@include triangle("left", rgba(0, 0, 0, 0.3));
}
