@mixin box($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin blockCenter() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin absoluteCenter() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin absoluteFull($index:"") {
	position: absolute;
	z-index: unquote($index);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@mixin cover($url) {
	background-image: url($url);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

@mixin textCut() {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

@mixin screen($size) {
	$desktop: "(min-width: 960px)";
	$tablet: "(min-width: 768px) and (max-width: 959px)";
	$mobile: "(max-width: 767px)";

	@if ($size == desktop) {
		@media #{$desktop} { @content;}
	}
	@else if ($size == tablet) {
		@media #{$tablet} { @content;}
	}
	@else if ($size == mobile) {
		@media #{$mobile} { @content;}
	}
	@else {
		@media #{$size} { @content;}
	}
}
// Usage:
// 	@include screen('tablet') {
// 		width: 90%;
// 	}

@function z($name) {
	@if index($z-indexes, $name) {
		@return ((length($z-indexes) - index($z-indexes, $name)) + 1);
	}
	@else {
		@warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
		@return (null);
	}
}
$z-indexes: (
	"outdated-browser",
	"ui1",
	"ui2",
	"ui3",
	"modal",
	"notification",
	"popup"
);
// Usage:
// p { z-index: z('popup');}

@mixin triangle($direction, $color, $length: 10px, $width: $length * 2) {
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	$width: $width / 2;
	@if ($direction == top) {
		border-width: 0 $width $length $width;
		border-color: transparent transparent $color transparent;
	}
	@else if ($direction == right) {
		border-width: $width 0 $width $length;
		border-color: transparent transparent transparent $color;
	}
	@else if ($direction == bottom) {
		border-width: $length $width 0 $width;
		border-color: $color transparent transparent transparent;
	}
	@else if ($direction == left) {
		border-width: $width $length $width 0;
		border-color: transparent $color transparent transparent;
	}
}
