@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Roboto:300,400,500,700,900');

$red50:			#ffebee;	$pink50:		#FCE4EC;	$purple50:		#F3E5F5;	$deepPurple50:	#EDE7F6;	$indigo50:		#E8EAF6;
$red100:		#ffcdd2;	$pink100:		#F8BBD0;	$purple100:		#E1BEE7;	$deepPurple100:	#D1C4E9;	$indigo100:		#C5CAE9;
$red200:		#ef9a9a;	$pink200:		#F48FB1;	$purple200:		#CE93D8;	$deepPurple200:	#B39DDB;	$indigo200:		#9FA8DA;
$red300:		#e57373;	$pink300:		#F06292;	$purple300:		#BA68C8;	$deepPurple300:	#9575CD;	$indigo300:		#7986CB;
$red400:		#ef5350;	$pink400:		#EC407A;	$purple400:		#AB47BC;	$deepPurple400:	#7E57C2;	$indigo400:		#5C6BC0;
$red500:		#f44336;	$pink500:		#E91E63;	$purple500:		#9C27B0;	$deepPurple500:	#673AB7;	$indigo500:		#3F51B5;
$red600:		#e53935;	$pink600:		#D81B60;	$purple600:		#8E24AA;	$deepPurple600:	#5E35B1;	$indigo600:		#3949AB;
$red700:		#d32f2f;	$pink700:		#C2185B;	$purple700:		#7B1FA2;	$deepPurple700:	#512DA8;	$indigo700:		#303F9F;
$red800:		#c62828;	$pink800:		#AD1457;	$purple800:		#6A1B9A;	$deepPurple800:	#4527A0;	$indigo800:		#283593;
$red900:		#b71c1c;	$pink900:		#880E4F;	$purple900:		#4A148C;	$deepPurple900:	#311B92;	$indigo900:		#1A237E;

$blue50:		#E3F2FD;	$lightBlue50:	#E1F5FE;	$cyan50:		#E0F7FA;	$teal50:		#E0F2F1;	$green50:		#E8F5E9;
$blue100:		#BBDEFB;	$lightBlue100:	#B3E5FC;	$cyan100:		#B2EBF2;	$teal100:		#B2DFDB;	$green100:		#C8E6C9;
$blue200:		#90CAF9;	$lightBlue200:	#81D4FA;	$cyan200:		#80DEEA;	$teal200:		#80CBC4;	$green200:		#A5D6A7;
$blue300:		#64B5F6;	$lightBlue300:	#4FC3F7;	$cyan300:		#4DD0E1;	$teal300:		#4DB6AC;	$green300:		#81C784;
$blue400:		#42A5F5;	$lightBlue400:	#29B6F6;	$cyan400:		#26C6DA;	$teal400:		#26A69A;	$green400:		#66BB6A;
$blue500:		#2196F3;	$lightBlue500:	#03A9F4;	$cyan500:		#00BCD4;	$teal500:		#009688;	$green500:		#4CAF50;
$blue600:		#1E88E5;	$lightBlue600:	#039BE5;	$cyan600:		#00ACC1;	$teal600:		#00897B;	$green600:		#43A047;
$blue700:		#1976D2;	$lightBlue700:	#0288D1;	$cyan700:		#0097A7;	$teal700:		#00796B;	$green700:		#388E3C;
$blue800:		#1565C0;	$lightBlue800:	#0277BD;	$cyan800:		#00838F;	$teal800:		#00695C;	$green800:		#2E7D32;
$blue900:		#0D47A1;	$lightBlue900:	#01579B;	$cyan900:		#006064;	$teal900:		#004D40;	$green900:		#1B5E20;

$lightGreen50:	#F1F8E9;	$lime50:		#F9FBE7;	$yellow50:		#FFFDE7;	$amber50:		#FFF8E1;	$orange50:		#FFF3E0;
$lightGreen100:	#DCEDC8;	$lime100:		#F0F4C3;	$yellow100:		#FFF9C4;	$amber100:		#FFECB3;	$orange100:		#FFE0B2;
$lightGreen200:	#C5E1A5;	$lime200:		#E6EE9C;	$yellow200:		#FFF59D;	$amber200:		#FFE082;	$orange200:		#FFCC80;
$lightGreen300:	#AED581;	$lime300:		#DCE775;	$yellow300:		#FFF176;	$amber300:		#FFD54F;	$orange300:		#FFB74D;
$lightGreen400:	#9CCC65;	$lime400:		#D4E157;	$yellow400:		#FFEE58;	$amber400:		#FFCA28;	$orange400:		#FFA726;
$lightGreen500:	#8BC34A;	$lime500:		#CDDC39;	$yellow500:		#FFEB3B;	$amber500:		#FFC107;	$orange500:		#FF9800;
$lightGreen600:	#7CB342;	$lime600:		#C0CA33;	$yellow600:		#FDD835;	$amber600:		#FFB300;	$orange600:		#FB8C00;
$lightGreen700:	#689F38;	$lime700:		#AFB42B;	$yellow700:		#FBC02D;	$amber700:		#FFA000;	$orange700:		#F57C00;
$lightGreen800:	#558B2F;	$lime800:		#9E9D24;	$yellow800:		#F9A825;	$amber800:		#FF8F00;	$orange800:		#EF6C00;
$lightGreen900:	#33691E;	$lime900:		#827717;	$yellow900:		#F57F17;	$amber900:		#FF6F00;	$orange900:		#E65100;

$deepOrange50:	#FBE9E7;	$brown50:		#EFEBE9;	$grey50:		#FAFAFA;	$blueGrey50:	#ECEFF1;	$white:			#ffffff;
$deepOrange100:	#FFCCBC;	$brown100:		#D7CCC8;	$grey100:		#F5F5F5;	$blueGrey100:	#CFD8DC;	$black:			#000000;
$deepOrange200:	#FFAB91;	$brown200:		#BCAAA4;	$grey200:		#EEEEEE;	$blueGrey200:	#B0BEC5;
$deepOrange300:	#FF8A65;	$brown300:		#A1887F;	$grey300:		#E0E0E0;	$blueGrey300:	#90A4AE;
$deepOrange400:	#FF7043;	$brown400:		#8D6E63;	$grey400:		#BDBDBD;	$blueGrey400:	#78909C;
$deepOrange500:	#FF5722;	$brown500:		#795548;	$grey500:		#9E9E9E;	$blueGrey500:	#607D8B;
$deepOrange600:	#F4511E;	$brown600:		#6D4C41;	$grey600:		#757575;	$blueGrey600:	#546E7A;
$deepOrange700:	#E64A19;	$brown700:		#5D4037;	$grey700:		#616161;	$blueGrey700:	#455A64;
$deepOrange800:	#D84315;	$brown800:		#4E342E;	$grey800:		#424242;	$blueGrey800:	#37474F;
$deepOrange900:	#BF360C;	$brown900:		#3E2723;	$grey900:		#212121;	$blueGrey900:	#263238;

$shadowSoft:	0px 0px 4px rgba(0, 0, 0, 0.2);
$shadow:		0px 0px 4px rgba(0, 0, 0, 0.4);
$shadowHard:	0px 0px 4px rgba(0, 0, 0, 0.6);