@import "variables";
@import "mixins";
@import "reset";
@import "lib";

body {
	> header {
		height: 40px;
		background-color: $black;
		> h1 {
			display: inline-block;
			> a {
				display: block;
				line-height: 40px;
				padding: 0 40px;
				font-family: "Oswald";
				font-size: 24px;
				color: $white;
			}
		}
		> nav {
			display: inline-block;
			> ul {
				width: 800px;
				> li {
					display: inline-block;
					transition: background-color 250ms ease-in-out;
					> a {
						display: block;
						line-height: 40px;
						padding: 0 20px;
						font-family: "Oswald";
						font-weight: 300;
						font-size: 20px;
						color: $white;
						transition: color 250ms ease-in-out;
					}
					&.active {
						background-color: $white;
						> a {
							color: $black;
						}
					}
					&:not(.active) {
						background-color: $black;
						> a {
							color: $white;
						}
					}
				}
			}
		}
	}
	> main {
		height: calc(100% - 40px);
		background-color: $white;
		> .view {
			height: 100%;
			overflow: auto;
			// > h2 {
			// 	line-height: 64px;
			// 	padding: 40px;
			// 	font-family: "Oswald";
			// 	font-weight: 300;
			// 	font-size: 64px;
			// }
		}
	}
}

@import "home";
@import "audioAnalyser";
