body { background-color: #f5f5f5; transition: opacity 250ms ease-in-out;}

.maxWidth {
	max-width: 960px;
	margin: auto;
}

.bold {
	font-weight: 400;
}

#header { position: relative; z-index: 2; background-color: #f44336; background-image: url("../images/bg.svg"); background-size: 40px 24px;}
	#header > div { display: flex; padding: 8px 16px;}
		#header > div > .photo { width: 84px; height: 128px;}
			#header > div > .photo > span { display: block; position: relative; width: 84px; height: 128px; border: 2px solid #d32f2f; border-radius: 8px; background-image: url("../images/paul.jpg"); background-size: 128px 128px; cursor: pointer; transition: all 250ms ease-in-out;}
			#header > div > .photo > span:hover { box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);}
			#header > div > .photo > span:active { width: 256px; height: 256px; background-size: 256px 256px;}
		#header > div > .infos { flex: 1; padding-left: 8px;}
			#header > div > .infos > h1 { line-height: 24px; padding-top: 2px; font-size: 24px; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); font-family: "oswald"; color: #fff;}
			#header > div > .infos > ul { padding-top: 4px;}
				#header > div > .infos > ul > li { display: flex; align-items: center; padding-top: 6px;}
				#header > div > .infos > ul > li > span { display: block; width: 18px; height: 18px; background-size: cover;}
				#header > div > .infos > ul > li.job > span { background-image: url("../icons/job.svg");}
				#header > div > .infos > ul > li.birth > span { background-image: url("../icons/cake.svg");}
				#header > div > .infos > ul > li.location > span { background-image: url("../icons/marker.svg");}
				#header > div > .infos > ul > li.languages > span { background-image: url("../icons/tongue.svg");}
				#header > div > .infos > ul > li > p { line-height: 16px; padding: 2px 0 0 8px; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); font-weight: 500; font-size: 14px; color: #fff;}
					#header > div > .infos > ul > li > p > span { font-weight: 500; color: #fff;}

#nav { position: relative; z-index: 1; border-top: 2px solid #d32f2f; background-color: #fff; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);}
	#nav > div { display: flex; height: 42px;}
		#nav > div > a { display: flex; align-items: center; justify-content: center; padding: 0 16px; transition: all 250ms ease-in-out;}
		#nav > div > a:hover { background-color: #fafafa;}
		#nav > div > a:active { background-color: #f5f5f5; transition: none;}
		#nav > div > a > span { width: 20px; height: 20px; background-size: cover; opacity: 0.85;}
		#nav > div > a[href="#profile"] > span { background-image: url("../icons/profile.svg");}
		#nav > div > a[href="#experiences"] > span { background-image: url("../icons/experiences.svg");}
		#nav > div > a[href="#training"] > span { background-image: url("../icons/training.svg");}
		#nav > div > a[href="#skills"] > span { background-image: url("../icons/skills.svg");}
		#nav > div > a > p { padding-left: 8px; font-weight: 300; font-size: 16px;}
@media (max-width: 539px) {
		#nav > div > a { flex: 1;}
		#nav > div > a > p { display: none;}
}

#main {}
	#main > div { padding: 0 16px 64px 16px;}
		#main > div > section { padding-top: 64px;}
			#main > div > section > h2 { display: flex; align-items: center;}
				#main > div > section > h2 > span { display: block; width: 32px; height: 32px; background-size: cover;}
				#main > div > #profile > h2 > span { background-image: url("../icons/profile.svg");}
				#main > div > #experiences > h2 > span { background-image: url("../icons/experiences.svg");}
				#main > div > #training > h2 > span { background-image: url("../icons/training.svg");}
				#main > div > #skills > h2 > span { background-image: url("../icons/skills.svg");}
				#main > div > section > h2 > p { line-height: 28px; padding-left: 16px; font-family: "Oswald"; font-weight: 300; font-size: 28px;}

#profile {}
	#profile > p { padding-top: 16px; font-weight: 300; font-size: 16px;}
	#profile > ul { margin-top: 8px; padding-left: 32px;}
		#profile > ul > li { list-style-type: disc; font-weight: 300; font-size: 16px;}

#experiences {}
	#experiences > ul { }
		#experiences > ul > li { margin-top: 32px; border-radius: 4px; background-color: #fff; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);}
			#experiences > ul > li > header { display: flex; padding: 16px 16px 8px 16px;}
				#experiences > ul > li > header > span { display: block; width: 64px; height: 64px; border-radius: 4px; background-size: cover;}
				#experiences > ul > li.galadrim > header > span { background-image: url("../images/galadrim.png");}
				#experiences > ul > li.cremedelacreme > header > span { background-image: url("../images/cremedelacreme.png");}
				#experiences > ul > li.kelprof > header > span { border: 1px solid #eee; background-image: url("../images/kelprof.png");}
				#experiences > ul > li.cimes > header > span { background-image: url("../images/cimes.png");}
				#experiences > ul > li > header > div { flex: 1; padding-left: 16px;}
					#experiences > ul > li > header > div > h3 { line-height: 18px; font-weight: 500; font-size: 18px;}
					#experiences > ul > li > header > div > p { line-height: 14px; margin-top: 8px; font-size: 14px;}
						#experiences > ul > li > header > div > p > a { display: inline-block; text-decoration: underline; color: #2196F3;}
					#experiences > ul > li > header > div > span { display: block; line-height: 14px; margin-top: 8px; font-size: 14px;}
			#experiences > ul > li > div { overflow: hidden;}
			#experiences > ul > li > div:not(.active) { display: none;}
			#experiences > ul > li > div.active { display: block;}
				#experiences > ul > li > div > div { margin: 8px 0; padding: 16px; border-top: 1px solid #eee; border-bottom: 1px solid #eee;}
					#experiences > ul > li > div > div p { font-weight: 300; font-size: 14px;}
					#experiences > ul > li > div > div p:not(:first-child) { margin-top: 16px;}
					#experiences > ul > li > div > div ul { margin-top: 8px; padding-left: 32px;}
						#experiences > ul > li > div > div ul > li { list-style-type: circle; font-weight: 300; font-size: 14px;}
					#experiences > ul > li > div > div > .project { margin-top: 16px; padding-top: 16px; border-top: 1px solid #eee;}
						#experiences > ul > li > div > div > .project > h4 { font-weight: 500; font-size: 14px;}
						#experiences > ul > li > div > div > .project > div { display: flex; flex-wrap: nowrap; margin-top: 16px; overflow-x: auto;}
							#experiences > ul > li > div > div > .project > div > a { flex-shrink: 0; display: inline-block; border: 1px solid #777; border-radius: 4px; overflow: hidden;}
							#experiences > ul > li > div > div > .project > div > a:not(:first-child) { margin-left: 16px;}
								#experiences > ul > li > div > div > .project > div > a > img { width: 128px;}
			#experiences > ul > li > footer { padding: 8px 16px 16px 16px; text-align: center;}
				#experiences > ul > li > footer > input { height: 32px; padding: 0 8px; border: none; border-radius: 4px; background-color: #f44336; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); font-weight: 500; font-size: 13px; color: #fff; cursor: pointer; transition: all 250ms ease-in-out;}
				#experiences > ul > li > footer > input:hover { background-color: #e53935;}
				#experiences > ul > li > footer > input:active { background-color: #d32f2f; transition: none;}

#training {}
	#training > p { margin-top: 32px; font-weight: 300; font-size: 16px; color: #777;}
	#training > ul { }
		#training > ul > li { display: flex; min-height: 120px; margin-top: 16px; padding: 8px 16px; border-radius: 4px; background-color: #fff; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);}
			#training > ul > li > span { display: block; border-radius: 4px;}
			#training > ul > li > div { padding-left: 16px;}

#skills {}
	#skills > p { margin-top: 32px; font-weight: 300; font-size: 16px; color: #777;}
	#skills > ul {}
		#skills > ul > li { margin-top: 32px; padding: 16px; border-radius: 4px; background-color: #fff; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);}
		#skills > ul > li:first-child { padding-bottom: 32px;}
			#skills > ul > li > h3 { line-height: 32px; font-weight: 500; font-size: 18px;}
			#skills > ul > li > .skill { display: flex; margin-top: 32px;}
				#skills > ul > li > .skill > p { width: 50px; line-height: 32px; font-weight: 300; font-size: 16px;}
				#skills > ul > li > .skill > div { flex: 1; padding: 12px 16px 0 0;}
					#skills > ul > li > .skill > div > .progressBar { height: 8px; border-left: 108px solid #2196F3; border-radius: 4px; background-color: #eee;}
						#skills > ul > li > .skill > div > .progressBar > p { position: relative; height: 8px; border-radius: 0 4px 4px 0; background-color: #2196F3;}
							#skills > ul > li > .skill > div > .progressBar > p > span { display: block; position: absolute; top: -8px; left: 100%; transform: translateX(-50%); line-height: 24px; padding: 0 16px; border-radius: 12px; background-color: #1E88E5; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); text-align: center; font-weight: 500; font-size: 12px; color: #fff;}
					#skills > ul > li > .skill > div > .details { }
						#skills > ul > li > .skill > div > .details > li { display: flex;}
							#skills > ul > li > .skill > div > .details > li > p { width: 100px; line-height: 32px; font-size: 16px; transform: translateY(10px);}
							#skills > ul > li > .skill > div > .details > li > span { width: 8px; background-color: #3F51B5;}
							#skills > ul > li > .skill > div > .details > li > div { flex: 1; height: 8px; margin-top: 24px; background-color: #eee;}
								#skills > ul > li > .skill > div > .details > li > div > p { position: relative; height: 8px; border-radius: 0 4px 4px 0; background-color: #3F51B5;}
									#skills > ul > li > .skill > div > .details > li > div > p > span { display: block; position: absolute; top: -8px; left: 100%; transform: translateX(-50%); line-height: 24px; padding: 0 16px; border-radius: 12px; background-color: #3949AB; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); text-align: center; font-weight: 500; font-size: 12px; color: #fff;}
						#skills > ul > li > .skill > div > .details > li:last-child {}
							#skills > ul > li > .skill > div > .details > li:last-child > span { border-radius: 0 0 0 4px;}
			#skills > ul > li > ul { margin-top: 16px;}
				#skills > ul > li > ul > li { line-height: 32px; font-weight: 300; font-size: 16px;}

#footer {}
