/*@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Roboto:300,400,500,700,900);*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

* {
	vertical-align: top;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	font-family: "Roboto";
	font-weight: 400;
	color: #222;
}

html, body {
}

a {
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}
