<div>
	<section class="left">
		<p class="phrase">Vous pouvez m'appeler ou me laisser un message au numéro suivant :</p>
		<p class="phone" ng-click="decode_phone();">{{phone_number}}</p>
		<p class="phrase">(Cliquez dessus pour le passer de binaire à décimal, c'est pour éviter les bots...)</p>
	</section>

	<section class="right">
		<p>Vous pouvez également me laisser un mail via ce formulaire :</p>
		<form ng-submit="send_email(data);">
			<label>Email <span>*</span></label>
			<input type="email" ng-model="data._replyto" required>
			<div class="left">
				<label>Prénom <span>*</span></label>
				<input type="text" ng-model="data.prenom" required>
			</div>
			<div class="right">
				<label>Nom <span>*</span></label>
				<input type="text" ng-model="data.nom" required>
			</div>
			<label>Message <span>*</span></label>
			<textarea ng-model="data.message" required></textarea>
			<input type="submit" value="Envoyer">
		</form>
	</section>
</div>
